

body{
  background-color: #eeffff;
  font-family: Lato, Arial, sans-serif;
}

nav {

}
.fatti{
  background-color: #ddeeee;
}

.fatti ul{
  font-size: smaller;
}
#tableCSSTest{
  border-collapse: collapse;
  width: 100%;
}

#tableCSSTest td, #tableCSSTest th {
  border: 1px solid #cccccc;
  padding: 8px;
}

#tableCSSTest tr:hover {
  background-color: #ddeeee;
}

#tableCSSTest th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAFFF;
  color: white;
}

.container-fluid {
  border: 1px solid #cccccc;
  align: center;
  vertical-align: center;
  display: table;
  align-items: stretch;
}

.container-fluid .row{
  height: 200px;
  background-color: #ffffff;
}

.ccols{
  border: 1px solid #cccccc;
  display: flex;
  align-content: center;
  justify-content: center;

}
