$lista_font:    Lato, Arial, sans-serif;
$colore_base: #00BC00;
$grigino: #b0e5b0;
$chiaro: #f2fff2;
$scuro: #007700;

body{
  background-color: #f2fff2;
  font-family: $font-stack;
}

@media only screen and (min-width: 600px) {
    body {
      padding: 30px;
    }
}

nav {

}
.fatti{
  background-color: #b0e5b0;
  color: #007700;
}

.fatti ul{
  font-size: smaller;
  margin-bottom: 10px;
}
#tableCSSTest{
  border-collapse: collapse;
  width: 100%;
}

#tableCSSTest td, #tableCSSTest th {
  border: 1px solid #b0e5b0;
  padding: 8px;
}

#tableCSSTest tr:hover {
  background-color: #b0e5b0;
}

#tableCSSTest th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAFFF;
  color: white;
}

.container-fluid {
  border: 1px solid #b0e5b0;
  align: center;
  vertical-align: center;
  display: table;
  align-items: stretch;
}

.container-fluid .row{
  height: 200px;
  background-color: #ffffff;
}

[class*="col-"]{
  border: 1px solid #cccccc;
  display: flex;
  align-content: center;
  justify-content: center;

}
