h3 {
  color: darkgreen;
}

div {
  background-color: teal;
  width: 80%;
  height: 40px;
  margin: 30px;
  padding: 15px;
}

p {
  font-family: Lato, Arial, sans-serif;
  font-size: 13px;
}

table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid blue;
  padding: 5px;
}

#top{
  font-size: 36px;
}

#middle{
  font-size: 24px;
}

#bottom{
  font-size: 12px;
}

.name{
  font-weight: bold;
}
